<td><%= link_to('<< Back to list', {:action => 'index', :survey_id => @survey.id}, :class => 'action_index') %></td>

<h2>Delete question</h2>

<div class = "question_delete">

  <%= form_for(:question, :url => {:action => 'destroy', :id => @question.id, :survey_id => @survey.id}) do |f| %>

    <p>Are you sure you permanently want to delete the survey?</p>
    
    <div class="form_buttons">
      <%= submit_tag("Delete question") %>
    </div>
  <% end %>
</div>
