<h1>Listing Questions</h1>

<table class = "listing" summary = "question_list"> 

    <tr class = "header">
      <th>&nbsp;</th>
      <th>Questions:<br /><br /></th>
      <th>&nbsp;</th>
      <th colspan="3"></th>
    </tr>

    <% @questions.each do |question| %>
      <tr>
        <th>&nbsp;</th>
        <td><%= question.content %></td>
        <th>&nbsp;</th>
        <td class="actions">
      </tr>
    <% end %>
</table>

<br />

  <%= link_to t('.back', :default => t("helpers.links.back")),
              surveys_path, :class => 'btn btn-default'  %>


  

 