<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<h2>Update survey</h2>

<div class = "survey_edit">

  <%= form_for(:survey, :url => {:action => 'update', :id => @survey.id}) do |f| %>

      <table summary="Survey_form_fields">
        <tr>
          <th>Survey: </th>
          <td><%= f.text_field(:name)%></td>
        </tr>
      </table>
    <div class="form_buttons">
      <%= submit_tag("Update survey") %>
    </div>
  <% end %>
</div>
